.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .main{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0,0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
}





*{
    background-color: #06070E;
}

label , p{
    color: #E9BCB7;
}

h1 , h2{
    color: #C5AFA0;
}

button{
    color: #94A187;
}

input{
    color: #E9BCB7;
}